Checks: bugprone-*,cert-*,clang-analyzer-*,clang-diagnostic-*,cppcoreguidelines-*,modernize-make-*,performance-*,modernize-use-emplace,-bugprone-easily-swappable-parameters,-cppcoreguidelines-avoid-const-or-ref-data-members,-cppcoreguidelines-owning-memory,-cppcoreguidelines-use-default-member-init,-,-performance-enum-size
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  bugprone-string-constructor.StringNames: ::bsl::basic_string; ::std::basic_string; ::std::basic_string_view
  bugprone-optional-value-conversion.OptionalTypes: ::bsl::optional; ::BloombergLP::bdlb::NullableValue; ::std::optional; ::absl::optional; ::boost::optional
  bugprone-capturing-this-in-member-variable.FunctionWrapperTypes: ::bsl::function; ::bsl::move_only_function; ::std::function; ::std::move_only_function;
    ::boost::function
  modernize-make-shared.MakeSmartPtrFunction: bsl::make_shared
  modernize-make-shared.MakeSmartPtrFunctionHeader: bsl_memory.h
  modernize-make-unique.MakeSmartPtrFunction: bsl::make_unique
  modernize-make-unique.MakeSmartPtrFunctionHeader: bsl_memory.h
  modernize-use-emplace.ContainersWithPushBack: ::bsl::vector; ::bsl::list; ::bsl::deque; ::std::vector; ::std::list; ::std::deque
  modernize-use-emplace.ContainersWithPush: ::bsl::stack; ::bsl::queue; ::bsl::priority_queue; ::std::stack; ::std::queue; ::std::priority_queue
  modernize-use-emplace.ContainersWithPushFront: ::bsl::forward_list; ::bsl::list; ::bsl::deque; ::std::forward_list; ::std::list; ::std::deque
  modernize-use-emplace.SmartPointers: ::bsl::shared_ptr; ::bsl::unique_ptr; ::bsl::auto_ptr; ::bsl::weak_ptr; ::std::shared_ptr; ::std::unique_ptr; ::std::auto_ptr;
    ::std::weak_ptr
  modernize-use-emplace.TupleMakeFunctions: ::bsl::make_pair; ::bsl::make_tuple; ::std::make_pair; ::std::make_tuple
  modernize-use-emplace.TupleTypes: ::bsl::pair; ::bsl::tuple; ::std::pair; ::std::tuple
  performance-faster-string-find.StringLikeClasses: ::bsl::basic_string; ::std::basic_string; ::std::basic_string_view
  performance-for-range-copy.WarnOnAllAutoCopies: true
  performance-inefficient-vector-operation.VectorLikeClasses: ::bsl::vector; ::std::vector
  modernize-use-override.OverrideSpelling: BSLS_KEYWORD_OVERRIDE
  modernize-use-noexcept.ReplacementString: BSLS_KEYWORD_NOEXCEPT
WarningsAsErrors: '*'
ExtraArgs:
- -Wno-unknown-warning-option
HeaderFilterRegex: .*,.*,.*
