src/applications/bmqtool/m_bmqtool_messages.cpp linguist-generated=true
src/applications/bmqtool/m_bmqtool_messages.h  linguist-generated=true
src/groups/bmq/bmqex/bmqex_bindutil_cpp03.cpp linguist-generated=true
src/groups/bmq/bmqex/bmqex_bindutil_cpp03.h linguist-generated=true
src/groups/bmq/bmqex/bmqex_future_cpp03.cpp linguist-generated=true
src/groups/bmq/bmqex/bmqex_future_cpp03.h linguist-generated=true
src/groups/bmq/bmqex/bmqex_promise_cpp03.cpp linguist-generated=true
src/groups/bmq/bmqex/bmqex_promise_cpp03.h linguist-generated=true
src/groups/bmq/bmqp/bmqp_ctrlmsg_messages.cpp linguist-generated=true
src/groups/bmq/bmqp/bmqp_ctrlmsg_messages.h linguist-generated=true
src/groups/bmq/bmqstm/bmqstm_values.cpp linguist-generated=true
src/groups/bmq/bmqstm/bmqstm_values.h linguist-generated=true
src/groups/bmq/bmqu/bmqu_managedcallback_cpp03.cpp linguist-generated=true
src/groups/bmq/bmqu/bmqu_managedcallback_cpp03.h linguist-generated=true
src/groups/bmq/bmqu/bmqu_objectplaceholder_cpp03.cpp linguist-generated=true
src/groups/bmq/bmqu/bmqu_objectplaceholder_cpp03.h linguist-generated=true
src/groups/bmq/bmqu/bmqu_operationchain_cpp03.cpp linguist-generated=true
src/groups/bmq/bmqu/bmqu_operationchain_cpp03.h linguist-generated=true
src/groups/mqb/mqbcfg/mqbcfg_messages.cpp linguist-generated=true
src/groups/mqb/mqbcfg/mqbcfg_messages.h linguist-generated=true
src/groups/mqb/mqbcmd/mqbcmd_messages.cpp linguist-generated=true
src/groups/mqb/mqbcmd/mqbcmd_messages.h linguist-generated=true
src/groups/mqb/mqbconfm/mqbconfm_messages.cpp linguist-generated=true
src/groups/mqb/mqbconfm/mqbconfm_messages.h linguist-generated=true
src/python/blazingmq/dev/it/tweaks/generated.py linguist-generated=true