name: Dependencies

on:
  workflow_call:
    inputs:
      ref:
        description: "Branch name, tag, or commit SHA to build dependencies for"
        required: true
        type: string
      cxx_standard:
        description: "What C++ Standard to build with.  [cpp03, cpp11, cpp14, cpp17, cpp20, cpp23]"
        required: true
        type: string
        default: "cpp17"
    outputs:
      cache_key:
        description: "GH Actions Cache key associated with the built dependencies"
        value: ${{ jobs.build_dependencies.outputs.cache_key }}
  schedule:
    # Rebuild dependencies cache from the "main" branch at the beginning of a new day,
    # so it is accessible from other branches' PRs
    - cron: "10 0 * * *"

concurrency:
  group: global-${{ inputs.cxx_standard }}
  cancel-in-progress: false

jobs:
  build_dependencies:
    name: Build and cache dependencies [${{ inputs.cxx_standard }}] for ${{ inputs.ref }}
    runs-on: ubuntu-latest
    outputs:
      cache_key: ${{ steps.get-cache-key.outputs.cache_key }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0

      - name: Generate dependencies cache key
        id: get-cache-key
        run: |
          BUILD_DEPS_SHA=$(cat docker/build_deps.sh | shasum)
          echo "cache_key=deps-${{ inputs.cxx_standard }}-$BUILD_DEPS_SHA" >> $GITHUB_OUTPUT

      - name: Cache lookup
        uses: actions/cache/restore@v4
        id: cache-lookup
        with:
          path: deps
          key: ${{ steps.get-cache-key.outputs.cache_key }}
          lookup-only: true

      - name: Set up build dependencies
        if: steps.cache-lookup.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -qy build-essential \
            gdb \
            curl \
            python3.10 \
            python3-pip \
            cmake \
            ninja-build \
            pkg-config \
            bison \
            libfl-dev \
            libbenchmark-dev \
            libgmock-dev \
            libz-dev

      - name: Fetch & build non packaged dependencies
        if: steps.cache-lookup.outputs.cache-hit != 'true'
        run: |
          mkdir -p deps
          cd deps
          ../docker/build_deps.sh --cxx-standard=${{ inputs.cxx_standard }}

      - name: Cache save
        if: steps.cache-lookup.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: deps
          key: ${{ steps.get-cache-key.outputs.cache_key }}
