name: Sanitize

on:
  pull_request: # todo: remove
    branches:
      - main
  pull_request_review:
    types: [submitted]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  get_dependencies:
    name: "Dependencies"
    uses: ./.github/workflows/dependencies.yaml

  build_and_run_sanitizer:
    name: ${{ matrix.mode }}
    strategy:
      matrix:
        mode: ["asan", "msan", "tsan", "ubsan"]
      fail-fast: false
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache/restore@v4
        with:
          path: deps
          key: ${{ needs.get_dependencies.outputs.cache_key }}
      - name: Build [${{ matrix.mode }}]
        run: ${{ github.workspace }}/.github/workflows/sanitizers/build_sanitizer.sh ${{ inputs.sanitizer-name }}
      - name: UT [c++,${{ matrix.mode }}]
        run: ${{ github.workspace }}/cmake.bld/Linux/run-unittests.sh
